<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/js/base64.js}" type="text/javascript"></script>
	<link th:href="@{/styles/cssandjs/base64.css}" rel="stylesheet" />
	<title>Utilies</title>
</head>

<body>

<div>
	<form class="login-form" action="#" th:action="@{/base64converter}" method="post" th:object="${base64Object}" >
		<select th:field="*{conversion}" id="conversion">
                <option th:value="btop">Plain Text -> Base64</option>
                <option th:value="ptob">Base64 -> Plain Text</option>
    </select>
		<textarea maxlength="1024" type="text" th:field="*{text}" class="form-control-material" required ></textarea>
		<button type="submit" class="btn btn-primary btn-ghost">Convert</button>
	</form>
</div>
</body>
</html>